<!--
  WARNING: Do not the structure of the HTML. You are only allowed to to add Angular directives
-->

<div class="box-it">
  <form [formGroup]="form">
    <table>
      <tr>
        <td><label for="name">Name:</label></td>
        <td>
          <input
            type="text"
            size="50"
            id="name"
            placeholder="Your name as your NRIC"
            formControlName="nric"
          />
        </td>
      </tr>

      <tr>
        <td><label for="email">Email:</label></td>
        <td>
          <input
            type="email"
            size="50"
            id="email"
            placeholder="Your email"
            formControlName="email"
          />
        </td>
      </tr>
      <tr>
        <td><label for="size">Size:</label></td>
        <td>
          <input
            type="range"
            id="size"
            min="0"
            max="3"
            value="0"
            (change)="updateSize(size.value)"
            #size
            formControlName="size"
          />
          <span class="ml-1vw">{{ pizzaSize }}</span>
        </td>
      </tr>
      <tr>
        <td><label>Base:</label></td>
        <td>
          <input
            type="radio"
            name="base"
            value="thin"
            formControlName="crust"
          />
          Thin Crust
          <input
            type="radio"
            name="base"
            value="thick"
            formControlName="crust"
          />
          Thick Crust
        </td>
      </tr>
      <tr>
        <td><label for="sauce">Sauce:</label></td>
        <td>
          <select id="sauce">
            <option value="classic" formControlName="sauce">
              Classic Tomato Sauce
            </option>
            <option value="signature" formControlName="sauce">
              Signature Sauce
            </option>
            <option value="salsa" formControlName="sauce">Salsa Sauce</option>
            <option value="smoky" formControlName="sauce">
              Smoky BBQ Sauce
            </option>
            <option value="napolitana" formControlName="sauce">
              Napolitana Sauce
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Toppings:</label></td>
        <td>
          <div class="space-around">
            <input
              type="checkbox"
              name="toppings"
              value="chicken"
              formControlName="topping"
            />
            Chicken
            <input
              type="checkbox"
              name="toppings"
              value="seafood"
              formControlName="topping"
            />
            Seafood
            <input
              type="checkbox"
              name="toppings"
              value="beef"
              formControlName="topping"
            />
            Beef
            <input
              type="checkbox"
              name="toppings"
              value="vegetables"
              formControlName="topping"
            />
            Vegetables
          </div>
          <div class="space-around">
            <input
              type="checkbox"
              name="toppings"
              value="cheese"
              formControlName="topping"
            />
            Extra Cheese
            <input
              type="checkbox"
              name="toppings"
              value="arugula"
              formControlName="topping"
            />
            Arugula (Rocket)
            <input
              type="checkbox"
              name="toppings"
              value="pineapple"
              formControlName="topping"
            />
            Pineapple
          </div>
          <div>
            <small>Select toppings, one or more from the above</small>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="comments">Comments:</label></td>
        <td>
          <textarea
            id="comments"
            cols="40"
            rows="5"
            formControlName="comments"
          ></textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="justify-right">
            <button type="submit" [disabled]="form.invalid">Place Order</button>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
